/* Estilização do Footer */
footer {
    background: #2b2b2b; /* Cinza escuro para um visual elegante */
    color: #d4a373; /* Dourado suave para o texto */
    padding: 20px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 0;  /* Garante que o footer fique no fundo */
    width: 100%;
}

.footer-bottom {
    margin-top: 10px;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 5px 0;
}

.social-media {
    margin: 10px 0;
}

.social-media a {
    color: #d4a373; /* Dourado suave para os ícones de mídia social */
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #b5855f; /* Tom de cobre mais escuro ao passar o mouse */
}

/* Garantir que o footer fique no fundo da página */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Faz com que o body ocupe toda a altura da janela */
}

main {
    flex-grow: 1; /* Garante que o conteúdo principal ocupe todo o espaço disponível */
}
