/* Estilização Geral */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Faz com que o body ocupe toda a altura da janela */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    flex-grow: 1; /* Garante que o conteúdo principal ocupe todo o espaço disponível */
}

/* Estilização do Footer */
footer {
    background: #2b2b2b; /* Cinza escuro para um visual elegante */
    color: #d4a373; /* Dourado suave para o texto */
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0; /* Garante que o footer fique no fundo */
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos se adaptem em telas menores */
    justify-content: space-between;
    align-items: center;
}

.footer-section {
    flex: 1;
    margin: 10px;
    text-align: left; /* Alinha o texto à esquerda nas seções */
}

.footer-section h4 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #ffffff; /* Alteração para branco */
    font-weight: bold; /* Destaca os títulos */
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin: 5px 0;
}

.footer-section a {
    color: #d4a373; /* Dourado suave para os links */
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #b5855f; /* Tom de cobre mais escuro ao passar o mouse */
}

.social-media a {
    margin: 0 5px;
}
.footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        text-align: center;
        margin: 10px 0;
    }
}